.image{
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
ion-title{
    color:#ff8e27;
}
.backBtn {
    color:#ff8e27;
    cursor: pointer;
}
._content{
    display: flex !important;
    justify-content: space-between;
}
ion-button{
    --background:#ff8e27 !important;
    --color:#000 !important;
    font-weight:bold !important;
}
.backBtn{
    align-items: center;
}
ion-card{
    background: linear-gradient(0.25turn, #ff8e27, #fff, #fff);
}