<ion-content [fullscreen]="true">
    <div class="main">
      <div class="top ion-padding">
          <div class="personal-data">
            <div class="name"><img src="\assets\latte.jpg" class="image"><p>John Doe</p>  </div>
            <div class="phone">
              <b>Phone</b>
              <p>+5999-661-616</p>
            </div>
            <div class="mail">
              <b>Mail</b>
              <div>johndoe23&#64;gmail.com</div>
            </div>
          </div>
      </div>

      <div class="bottom ion-padding">
        <div class="section" (click)="editProfile()">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="person"></ion-icon>
            <p>Edit Profile</p>
          </div>
          <ion-icon name="arrow-forward" class="edit"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="notifications"></ion-icon>
            <p>Notifications</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="time"></ion-icon>
            <p>History</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="card"></ion-icon>
            <p>Payment</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="help"></ion-icon>
            <p>Help</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section" (click)="logOut()">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="log-out"></ion-icon>
            <p>Logout</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </div>
    </div>
</ion-content>
