<ion-content [fullscreen]="true">
    <div class="main">
      <div class="top">
          <div class="personal-data">
            <div class="name"><img src="\assets\latte.jpg" class="image"><p>John Doe</p></div>
            <div class="phone">
              <p>Phone</p>
              <p>+5999-661-616</p>
            </div>
            <div class="mail">
              <p>Mail</p>
              <div>johndoe23&#64;gmail.com</div>
            </div>
          </div>
      </div>

      <div class="bottom">
        <div class="section">
          <div style="display: flex;align-items: center;">
            <ion-icon name="moon"></ion-icon>
            <p>Dark Mode</p>
          </div>
          <ion-toggle slot="end" checked="true" color="light"></ion-toggle>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center; column-gap: 5px;">
            <ion-icon name="notifications"></ion-icon>
            <p>Notifications</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center;">
            <ion-icon name="time"></ion-icon>
            <p>History</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center;">
            <ion-icon name="card"></ion-icon>
            <p>Payment</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section">
          <div style="display: flex;align-items: center;">
            <ion-icon name="help"></ion-icon>
            <p>Help</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <div class="section" id="open-modal">
          <div style="display: flex;align-items: center;">
            <ion-icon name="log-out"></ion-icon>
            <p>Logout</p>
          </div>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDimiss($event)">
            <ng-template>
              <!-- <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                  </ion-buttons>
                  <ion-title>Welcome</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header> -->

              <ion-content class="ion-padding">
                <ion-item>
                  Are you sure you want to logout? 
                </ion-item>
                <div class="btns">
                  <ion-button (click)="cancel()">Cancel</ion-button> <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </div>

              </ion-content>
            </ng-template>
        </ion-modal>
      </div>
    </div>
</ion-content>
