<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  href="/home">
      <ion-title aria-hidden="true">Home</ion-title>
    </ion-tab-button>

    <ion-tab-button  href="/favourites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button href="/cart">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button  href="/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
