ion-tab-button.tab-selected ion-icon,ion-title{
    color: #ff8e27 !important;
  }
  
  ion-tab-button:hover ion-icon,
  ion-tab-button:hover ion-title {
    color: #ff8e27 !important;
  }
  ion-tab-button ion-title{
    color:grey !important;
  }