<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home"> 
      <ion-title aria-hidden="true">Home</ion-title>
    </ion-tab-button>

    <ion-tab-button  tab="favourites" href="/favourites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/cart">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile"  href="/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
