._content{
    background-image: url('/assets/bg-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    object-fit: contain;
}