<ion-content [fullscreen]="true">
  <ion-content>
    <div class="top">
      <div class="header"> 
        <div><ion-icon name="arrow-back" class="backBtn" (click)="back()"></ion-icon></div>
        <ion-searchbar class="search" placeholder="Search your coffee..."></ion-searchbar>
        <img src="\assets\latte.jpg" class="profile">
      </div>
      <div class="intro">
        <h3><b>Good {{currentTime}},</b></h3>
        <p>Grab your first coffee this {{currentTime}}</p>
      </div>

      <div class="options" >
        <ion-button *ngFor="let option of options"><ion-icon name= "{{option.icon}}" *ngIf="option.icon"></ion-icon> {{option.name}}</ion-button>
      </div>

      <div class="scroll-container">
        <div class="types">
            <div class="coffeeOptions">
                <div class="cardImg"> <img src="\assets\cappucino.jpg" ></div>
                <div class="cardInfo">
                  <ion-card>
                      <ion-card-header>
                        <ion-card-title>
                          <div class="title">
                            <div class="name">Espresso</div>
                            <div class="rate"><ion-icon name="star"></ion-icon> 4.5</div>
                          </div>
                        </ion-card-title>
                        <ion-card-subtitle>With Milk</ion-card-subtitle>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <div class="title">
                          <div class="price">$7.00</div>
                          <div class="add">+</div>
                        </div>
                      </ion-card-content>
                  </ion-card>
                </div>
            </div>
    
            <div class="coffeeOptions">
              <div class="cardImg"> <img src="\assets\instant-coffee.jpg" ></div>
              <div class="cardInfo">
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>
                        <div class="title">
                          <div class="name">Coffee</div>
                          <div class="rate"><ion-icon name="star"></ion-icon> 4.0</div>
                        </div>
                      </ion-card-title>
                      <ion-card-subtitle>With Milk</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content>
                      <div class="title">
                        <div class="price">$6.25</div>
                        <div class="add">+</div>
                      </div>
                    </ion-card-content>
                </ion-card>
              </div>
          </div>

            <div class="coffeeOptions">
              <div class="cardImg"> <img src="\assets\latte.jpg" ></div>
              <div class="cardInfo">
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>
                        <div class="title">
                          <div class="name">Latte</div>
                          <div class="rate"><ion-icon name="star"></ion-icon> 4.2</div>
                        </div>
                      </ion-card-title>
                      <ion-card-subtitle>With Milk</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content>
                      <div class="title">
                        <div class="price">$4.30</div>
                        <div class="add">+</div>
                      </div>
                    </ion-card-content>
                </ion-card>
              </div>
          </div>
        </div>
      </div>

      <div class="dealsBottom">
        <h3 style="font-weight: bold; color:#461818;">Today's Deal</h3>
            <div class="deal">
              <img class="dealImg" src="\assets\bg-photo.jpg">
              <div class="_content">
                <p style="font-weight: bold; font-size: 20px;">BigMac + Fries</p>
                <div class="rate"><ion-icon name="star"></ion-icon> 4.5</div>
                <div class="strikePrice"><b>$12.75</b> <p class="price--line-through">$20.55</p></div>
              </div>
              <div class="addDeals">
                <div class="addDealBtn">+</div>
              </div>
            </div>
        </div>
        
    </div>
    <div class="bottom">
      
      
    </div>
  </ion-content>
    
</ion-content>
