.top{
    background-color: black;
    height: 50vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    .profile{
        width: 48px;
        height: 48px;
        object-fit: contain;
        border-radius: 50%;
    }

}
.search{
    outline: none !important;
    border: none !important;
    color: #ff8e27;
    width: 80%;
    display: flex;
  
}
ion-searchbar{
    --border-radius: 20px !important;
    --background: rgb(92, 89, 89) !important;
    --icon-color: #fff !important;     
}

.intro{
    color: #ffff;
    margin-left: 20px;
    margin-right: 20px;
}
.options{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
    ion-button{
        --background: rgb(92, 89, 89) !important;
        --color: #fff;
        --border-radius: 8px;
        --padding: 10px;
    }
    ion-button:hover{
        --background: #ff8e27 !important;
    }
    ion-button:focus{
        --background: #ff8e27 !important;
    }
}
.scroll-container{
    overflow-x: auto;
    width: 100%;
}
.scroll-container::-webkit-scrollbar {
    display: none;
  }
.types{
    display: flex;
    justify-content: space-around !important;
}
.title{
    display: flex;
    justify-content: space-between;
    
    .name{
        font-weight: bold;
        margin-top: 5px;
        color:#461818;
    }

    .price{
        font-weight: bold;
        font-size: 18px;
        color:#461818;
    }
}

.coffeeOptions{
    display: flex;
    flex-direction: column;
    width: 300px;
    height:300px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
   
    .cardImg{
        top: 0;
        z-index: 40;
        position: absolute;

        img{
            border-radius: 20px;
        }
    }
    .cardInfo{
        width: 200px;
        height: 200px;
        position: absolute;
        padding-top: 20px;
    }
}

.dealImg{
    width: 200px;
    border-radius: 20px;

    img{
        max-width: 100%;
        max-height: fit-content;
    }
}
.dealsBottom{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}

.deal{
    display: flex;
    justify-content: space-between;
    background-color: #fff8f3;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 64px !important;
}
.add{
    font-size: 21px;
    background-color: #ff8e27;
    color: #fff;
    padding: 1px 10px;
    border-radius: 8px;
}
.addDeals{
    width: 35px;
    height: 35px;
    background-color: #ff8e27;
    color: #fff;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: -18px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.addDealBtn{
    font-size: 25px;
}
.rate{
    color: #ff8e27;
}
ion-icon{
    font-size: small;
}
.backBtn{
    color: #ff8e27;
   font-size: x-large !important;
   cursor: pointer;
}
.price--line-through{
    font-size: 18px;
    color: #461818;
}
.strikePrice{
    display: flex;
    align-items: center;
    column-gap: 15px;

    b{
        font-size: 24px;
    }
}
.price-line-through{
    background-color: transparent;
    background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%,red 50%, transparent 52%, transparent 100%);
}
@media screen and (max-width:800px){
        .types{
            display: flex;
            justify-content: space-around !important;
            align-items: center;
            flex-direction: column;
        }
}