ion-title{
    text-align: center;
    color:#ff8e27;
    font-size: x-large;
    text-decoration: underline;
}
.card{
    border-radius: 20px;
    z-index: 2;
}
._content{
    display: flex;
    justify-content: space-around;
    position: relative;
}
img{
   border-radius: 15px;
   width: 50px;
   height: 50px;
}
.l-Text{
    font-size: larger;
    font-weight: bold;
    color: #461818;
}
.s-Text{
    color:#461818;
    font-size: small;
}
.subTotal, .tax, .total{
    display: flex;
    justify-content: space-between;
    color: #461818;
    margin-left: 10px;
    margin-right: 10px;
    
    h3{
        font-weight: bold !important;
    }
    
}
.line{
    color: #461818;
    margin-left: 10px;
    margin-right: 10px;
}
.checkoutBtn{
    --background: #000 !important;
    --color: #fff;
    text-transform: capitalize !important;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
   }
 
   .deleteBtn{
    .delete{
        font-size:30px;
        opacity: 0;
    }
   }

.cardPrice{
  position: absolute;
//   top: 50%;
  right: 0;
}
.desc , .description{
    color: #000;
}
ion-card{
    background: linear-gradient(0.25turn, #ff8e27, #ebf8e1, #ff8e27);
}
@media screen and (max-width:800px){
    .description{
     display: none;
    }

    ._content{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}
