<ion-content [fullscreen]="true">
  <ion-content>
    <div class="_content">
      <div class="mainImg">
        <ion-img src="\assets\home-img.jpg"></ion-img>
        <div class="backBtn">
         <div><ion-icon name="arrow-back"></ion-icon></div> 
        </div>
        <div class="rating">
         <div><ion-icon name="star"></ion-icon> 4.5</div> 
        </div>
      </div>

      <div class="price">
        <div class="typeName">
          <h3>Espresso</h3>
          <h6 style="color: #ff8e27;">With milk</h6>
        </div>
       <h3>$6.75</h3>
      </div>

      <div class="descriptions">
        <h6>Descriptions</h6>
        <small>Espresso,(Italian:"fast,express") a strong brew of coffee produced by forcing boiled water under pressure through finely ground coffee.</small>
        <p style="color: #ff8e27;">See More</p>
      </div>

      <div class="coffeeOrder">
        <h6>Coffee Size</h6>
        <div class="sizes">
          <ion-icon name="cafe" class="ion-24"></ion-icon>
          <ion-icon name="cafe" class="ion-32"></ion-icon>
          <ion-icon name="cafe" class="ion-40"></ion-icon>
        </div>
        <div class="numbers">
          <div class="" (click)="decrease()" [ngClass]="decselected ? 'bg-selected': 'num'">-</div>
          <div>{{currentVal}}</div>
          <div class="" (click)="increase()"  [ngClass]="increselected ? 'bg-selected': 'num'">+</div>
        </div>
      </div>
    </div>

    <div class="btn"> <ion-button ><ion-icon name="cart"></ion-icon> Add to cart</ion-button></div>
  </ion-content>
</ion-content>
