<ion-content>
  <div class="swipeContainer">
    <div class="variety" *ngFor="let coffeType of coffeeTypes">
      <ion-card class="card">
        <div class="cardContent">
          <div><ion-card-content><img src="{{coffeType.image}}"> </ion-card-content></div>
          <div>
            <ion-card-header class="l-Text">{{coffeType.name}}</ion-card-header>
            <ion-card-content class="s-Text">{{coffeType.extras}}</ion-card-content>
            <ion-card-content class="l-Text">{{coffeType.price}}</ion-card-content>
          </div>
          <div><ion-card-content>{{coffeType.orders}}</ion-card-content></div>
        </div>
      </ion-card>
      <div class="deleteBtn">
        <ion-icon name="trash" class="delete"></ion-icon>
      </div>
    </div>
  </div>
  
  <ion-text>
    <div class="subTotal">
        <div><h3>Subtotal</h3></div>
        <div><h3>$32.49</h3></div>
    </div>
    <div class="tax">
      <div><h3>Tax</h3></div>
      <div><h3>$5.99</h3></div>
    </div>
  </ion-text>

  <hr style="border-top:2px dotted  #461818;" />

  <ion-text>
    <div class="total">
      <div><h3>Total</h3></div>
      <div><h3>$38.48</h3></div>
    </div>
  </ion-text>
  <div class="btn">
    <ion-button class="checkoutBtn">Checkout</ion-button>
  </div>
</ion-content>