._content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImg{
    border-radius: 20px;
    position:relative;
    margin-top: 10px;

    ion-img::part(image){
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
    }
}
.backBtn{
    position: absolute;
    top:0;
    background-color: aliceblue;
    margin-left: 10px;
    margin-top: 5px;
    color:#ff8e27;
    padding: 6px;
    border-radius: 7px;

}
.rating{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    color:#ff8e27;
    border-radius: 10px;
    padding:6px;
}
.price{
    display: flex;
    justify-content: space-around !important;
    width: 100%;
}
.typeName{
    display: flex;
    flex-direction: column;
}
.coffeeOrder{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sizes{
    display: flex;
    justify-content: space-evenly;
    .ion-24{
        font-size: 24px;
    }
    .ion-32{
        font-size: 32px;
    }
    .ion-40{
        font-size: 40px;
    }
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.num{
    background-color: #fff;
    border:1px grey solid;
    border-radius: 50%;
    padding: 3px 8px;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

ion-button{
    --background: #000 !important;
    --color: #fff;

}
.btn{
 display: flex;
 justify-content: center;
 align-items: center;
}
.bg-selected{
    background-color: #000;
    color:#fff;
    border:1px grey solid;
    border-radius: 50%;
    padding: 3px 8px;
    align-items: center;
    margin: auto;
    cursor: pointer;
}